{% extends "layout.html" %} {% block title %} Chai aur tweet {% endblock title%}
{% block content %}
<h1 class="text-center mt-4">Welcome to Chai's Django Project</h1>

<h2 class="text-center mt-4">
  {% if form.instance.pk %} Edit tweet {% else %} Create a tweet {% endif %}
</h2>

<form method="POST" enctype="multipart/form-data" class="form">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="{% url 'tweet_list' %}" class="btn btn-primary"
    >Back to tweets list</a
  >
</form>

{% endblock content %}
